

PORT=
NODE_ENV=

SWAGGER_PASSWORD=

#AWS
AWS_REGION=

# PostgreSQL
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
NODE_ENV=

# AWS Cognito
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_USER_POOL_ID=
AWS_ACCESS_KEY_ID_COGNITO=
AWS_SECRET_ACCESS_KEY_COGNITO=